.scrollable {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100% !important;
  overflow-y: auto;
  display: inline-block;
  border-right: solid;
  border-color: gray;
  border-width: 0.5pt;
}

.btn-circle {
  display: inline-block;  
  width: 120px;
  height: 32px !important;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #eee ;
  color: #646464;
}

.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.btn-circle:hover {
  opacity: 0.7;
}